div{
    background-color:darkblue;
    text-align:center ;
    color: white;
}
h1{
    font-size: 70px;
}
button{
    background-color: darkblue;
    color: aliceblue;
    text-align:center;
    border: none;
    font-size: 16px;
    padding: 12px 28px;
    border-radius: 35%;
    cursor: pointer;
}
